.pageContainer {
  width: 100%;
  padding: 0 1rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.pageTitle {
  margin-bottom: 1rem;
}
.productContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}
.filterPanel {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
}
.filtersHeader {
  display: flex;
  height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}
.filtersTitle {
  font-weight: 600;
}
.closeBtn {
  display: none;
  border: none;
  padding: 0;
}
.closeBtnIcon {
  width: 1rem;
  height: 1rem;
  stroke: red;
}
.filterBtns {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.confirmBtn {
  margin-bottom: 0.5rem;
}
.cancelBtn {
  border: 1px solid #01579b;
}
.cancelBtn span {
  font-size: 0.75rem !important;
  color: #01579b;
}
.productBlockWrap {
  display: flex;
  flex: 1 0 85%;
  flex-direction: column;
}
.sortContainer {
  display: flex;
  justify-content: flex-end;
}
.mobileFilterBtn {
  display: none;
}
.mobileFilterBtn svg {
  height: 1.5rem;
  width: 1.5rem;
}
.sortProduct {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
.productBlock {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-bottom: 1rem;
}
.errorTitle {
  flex: 1 0 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) and (min-width: 769px) {
  .pageTitle {
    margin-bottom: 0.5rem;
  }
  .sortContainer {
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .sortProduct {
    margin-right: 0;
  }
  .productBlock {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .closeBtn {
    display: flex;
  }
  .mobileFilterBtn {
    display: flex;
  }
  .filtersHeader {
    justify-content: space-between;
    width: 100%;
  }
  .filterPanel {
    position: fixed;
    width: 40%;
    opacity: 0;
    padding: 0.5rem;
    top: 7.75rem;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 6;
    margin: 0;
  }
  .activeFilterPanel {
    width: 40%;
    position: fixed;
    top: 7.75rem;
    z-index: 10;
    background-color: #fff;
    height: 100%;
    padding: 0.5rem;
    transform: translateX(-5.2%);
    transition: all 0.5s;
  }
}
@media (width: 768px) {
  .productBlock {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .sortContainer {
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .sortProduct {
    margin-right: 0;
  }
  .filterPanel {
    position: fixed;
    width: 40%;
    opacity: 0;
    padding: 0.5rem;
    top: 7.75rem;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 6;
    margin: 0;
  }
  .activeFilterPanel {
    width: 40%;
    position: fixed;
    top: 7.75rem;
    z-index: 3;
    background-color: #fff;
    height: 100%;
    padding: 0.5rem;
    transform: translateX(-5.2%);
    transition: all 0.5s;
  }
  .filtersHeader {
    justify-content: space-between;
    width: 100%;
  }
  .closeBtn {
    display: flex;
  }
  .mobileFilterBtn {
    display: flex;
  }
  .mobileFilterBtn svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media (max-width: 767px) {
  .productContainer {
    flex-direction: column;
  }
  .productBlock {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .sortContainer {
    justify-content: space-between;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }
  .sortProduct {
    margin: 0;
  }
  .filterPanel {
    position: fixed;
    opacity: 0;
    padding: 0.5rem;
    top: 6.75rem;
    height: 100%;
    background-color: #fff;
    transform: translateX(-110%);
    transition: all 0.5s;
    z-index: 3;
  }
  .activeFilterPanel {
    width: 100%;
    position: fixed;
    top: 6.75rem;
    z-index: 3;
    background-color: #fff;
    height: 100%;
    padding: 0.5rem;
    transform: translateX(-4%);
    transition: all 0.5s;
  }
  .filtersHeader {
    justify-content: space-between;
    width: 100%;
  }
  .closeBtn {
    display: flex;
    border: none;
    padding: 0;
  }
  .closeBtnIcon {
    stroke: red;
  }
  .mobileFilterBtn {
    display: flex;
    padding: 0.25rem 1rem;
  }
}
@media (max-width: 413px) {
  .productBlock {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .mobileFilterBtn {
    display: flex;
    padding: 0.25rem 0.75rem;
  }
}
