.pageContainer {
  width: 100%;
  padding: 0 1rem;
}
.pageTitle {
  margin-bottom: 1rem;
}
.productContainer {
  display: flex;
  width: 100%;
}
.filters {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}
.productBlockWrap {
  display: flex;
  flex-direction: column;
}
.sortProduct {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
.productBlock {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.5rem;
}
.product {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) and (min-width: 769px) {
  .pageTitle {
    margin-bottom: 0.5rem;
  }
  .filters {
    flex: 0 0 25%;
  }
  .productBlock {
    padding: 0 0.75rem;
  }
  .product {
    margin-right: 0.75rem;
  }
}
@media (width: 768px) {
  .filters {
    flex: 0 0 25%;
  }
  .productBlock {
    padding: 0;
  }
  .product {
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  .productContainer {
    flex-direction: column;
  }
  .productBlock {
    padding: 1rem;
  }
}
@media (max-width: 413px) {
  .productBlock {
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  .product {
    margin-right: 0;
  }
}
