.pageContainer {
  width: 100%;
  padding: 0 1rem;
}
.pageTitle {
  margin-bottom: 1rem;
}
.productContainer {
  display: flex;
  width: 100%;
}
.filters {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}
.productBlockWrap {
  display: flex;
  flex-direction: column;
}
.productBlock {
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .productContainer {
    flex-direction: column;
  }
  .productBlock {
    padding: 1rem;
  }
}
@media (max-width: 390px) {
  .productBlock {
    padding: 1rem 0;
  }
}
