.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
}
.text {
  font-size: 0.75rem;
  margin-right: 0.25rem;
  line-height: 1rem;
}
.icon {
  width: 0.75rem;
  height: 0.75rem;
}
.colorPrimary {
  color: #01579b;
}
.colorPrimary:visited {
  color: #01579b;
}
.colorPrimary .icon {
  stroke: #01579b;
}
.colorSecondary {
  color: #fff;
}
.colorSecondary:visited {
  color: #fff;
}
.colorSecondary .icon {
  stroke: #fff;
}
