.card {
  width: 15rem;
  display: flex;
  flex-direction: column;
}
.img {
  width: 200px;
  height: 200px;
  background-color: rgb(166, 0, 0);
}
.wrapper {
  display: flex;
  flex-direction: row;
}
