.pageContainer {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.pageTitle {
  margin-bottom: 2rem;
}
.productBlockHeader {
  padding: 0 1rem;
  display: flex;
  margin-bottom: 1rem;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px #00000030;
  border-radius: 5px;
}
.checkboxWrap {
  display: flex;
  align-items: center;
  width: 20%;
}
.deleteBtn {
  padding: 0.25rem 0.5rem;
}

.productBlock {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.product {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px #00000025;
  justify-content: space-between;
}
.selectProduct {
  align-self: flex-start;
}
.imgWrap {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.productSection {
  display: flex;
  align-items: center;
}
.img {
  width: 150px;
}
.productTitle {
  flex: 1 0 auto;
  font-weight: 600;
}
.productPrice {
  display: flex;
  align-items: center;
}
.price {
  font-weight: 600;
  margin-right: 2rem;
}
.buyBtn {
  padding: 0.5rem 1rem;
}
.buyBtn svg {
  display: none;
}
.emptyWishList {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyWishListText {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.btnWrap {
  display: flex;
  flex-direction: row-reverse;
}
.btn {
  margin-right: 1rem;
  width: 8rem;
}
.btn:first-child {
  border: 2px solid #01579b;
  color: #01579b;
  font-weight: 600;
  margin-right: 0;
}

@media (max-width: 820px) {
  .pageContainer {
    padding: 0.5rem;
  }
  .productBlock {
    padding: 0;
  }
  .product {
    font-size: 0.875rem;
  }
  .img {
    width: 80px;
  }
}

@media (max-width: 450px) {
  .pageContainer {
    padding: 0.5rem;
  }
  .productBlockHeader {
    padding: 0 0.5rem;
  }
  .checkboxWrap {
    width: 50%;
    font-size: 0.875rem;
  }
  .productBlock {
    padding: 0;
  }
  .product {
    font-size: 0.875rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: flex-start;
  }
  .imgWrap {
    margin-right: 0.75rem;
    flex: 0 0 auto;
  }
  .productTitle {
    flex: 0 1 auto;
  }
  .productPrice {
    flex: 1 0 auto;
    align-self: flex-end;
  }
  .price {
    margin-right: 0.75rem;
  }
  .btnWrap {
    flex-direction: column-reverse;
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .btn:last-child {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .buyBtn {
    padding: 0.375rem 0.5rem;
  }
  .buyBtn span {
    display: none;
  }
  .buyBtn svg {
    display: block;
  }
  .emptyWishListText {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 376px) {
  .pageContainer {
    padding: 0.25rem;
  }
  .productBlock {
    padding: 0;
  }
  .product {
    font-size: 0.875rem;
    flex-wrap: wrap;
  }
  .img {
    width: 70px;
  }
  .productTitle {
    flex: 0 1 auto;
    font-size: 0.875rem;
  }
  .productPrice {
    flex: 1 0 auto;
    justify-content: flex-end;
  }
  .price {
    margin-right: 0.75rem;
  }
  .emptyWishListText {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
