.cart {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-weight: 600;
}
.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
.headerTitle {
  font-size: 1.5rem;
}
.productBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.wrapperDescription {
  display: flex;
  align-items: center;
}
.wrapperPrice {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgContainer {
  margin-right: 2rem;
}
.img {
  height: 80px;
  width: 80px;
}
.title {
  font-size: 1.125rem;
  color: #333333;
}
.countBtn {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border: none;
  cursor: pointer;
}
.countBtn svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #01579b;
}
.qty {
  font-size: 1.25rem;
  padding: 0 1rem;
}
.price {
  display: flex;
  font-size: 1.25rem;
}
.price p {
  padding-left: 0.25rem;
}
.deleteBtn {
  padding: 0.25rem;
}
.deleteBtn svg {
  stroke: #e93232 !important;
}
.qtyContainer {
  display: flex;
  align-items: center;
}
.cartFooter {
  display: flex;
  justify-content: space-between;
}
.confirmOrder {
  display: flex;
}
.continueBtn {
  border: 3px solid #060f42bc;
}
.totalPrice {
  display: flex;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.totalPrice p {
  align-self: center;
  font-size: 1rem;
  padding-left: 0.25rem;
}
.confirmBtn span {
  font-size: 0.75rem;
}
.emptyCart {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.emptyCart h2 {
  font-size: 2rem;
}
