* {
  box-sizing: border-box;
}
.App {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1550px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.navLogo {
  display: none;
  font-size: 2rem;
  font-family: "Ubuntu";
  white-space: nowrap;
  color: #fff;
}
.navBtn span {
  margin-left: 0.25rem;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  margin-bottom: 1rem;
}
.logoWrapper {
  display: flex;
  align-items: center;
  flex: 0 0 25%;
  height: 100%;
  justify-content: space-between;
  margin-right: 1rem;
  padding-left: 1rem;
}
.logo {
  font-size: 2rem;
  font-family: "Ubuntu";
  white-space: nowrap;
}
.inputWrapper {
  display: flex;
  height: 100%;
  flex: 2 1 auto;
  position: relative;
  align-items: center;
  justify-self: end;
  margin-right: 1rem;
}
.searchBtn {
  position: absolute;
  right: -3rem;
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.searchBtn svg {
  height: 1.5rem;
  width: 1.5rem;
}
.headBtnWrapper {
  display: flex;
  flex: 0 0 20%;
  justify-content: flex-end;
}
.btnWrapper {
  position: relative;
}
.productQty {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ffcd1b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.675rem;
  border-radius: 50%;
  font-weight: 700;
  font-family: "Lato" sans-serif;
  color: #060f42;
}
.btnWrapper:last-child .productQty {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #06a56c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.675rem;
  border-radius: 50%;
  font-weight: 700;
  font-family: "Lato" sans-serif;
  color: #fff;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 62rem;
  width: 100%;
}
.menuWrapper {
  position: relative;
  display: flex;
  height: 35rem;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.banner {
  display: flex;
  flex: 1 0 auto;
}
.bannerImg {
  background-image: url(../public/image/banner/banner_msi.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.bannerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0.25rem;
}
.bannerTitle {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 3rem;
}
.bannerDiscription {
  margin-bottom: 2rem;
  color: #cdcdcd;
}
.productTitle {
  font-size: 1.5rem;
  color: #333333;
  width: 100%;
  height: 2rem;
}
.productContainer {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 1rem;
}
.productBlockWrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.productBlock {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  overflow: hidden;
}
.product {
  display: flex;
  margin-right: 1rem;
}
.product:last-child {
  margin: 0;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.secondLink {
  display: none !important;
}
.gameZoneContainer {
  width: 100%;
  height: 830px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.bgImg {
  background: linear-gradient(rgba(76, 118, 255, 0.8), rgba(25, 25, 73, 0.9)),
    url(../public/image/game-zone/game-zone.jpg) no-repeat;
  background-size: 110%;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.gameZoneHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.gameZoneLine {
  height: 0.125rem;
  width: 5rem;
  display: flex;
  background-color: #fff;
}
.gameZoneLine:last-child {
  flex-grow: 6;
}
.gameZoneText {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "Lato";
  padding: 0 1.25rem;
  white-space: nowrap;
}
.categoryForGamer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.headCategoryText {
  display: flex;
  align-items: flex-end;
  font-size: 1.75rem;
  font-family: "Lato" serif;
  color: #fff;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.categoryItem {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.itemImg {
  width: 210px;
  position: absolute;
  left: 6%;
}
.itemBg {
  width: 170px;
  height: 170px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.itemTitle {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 1rem;
}

@media (max-width: 1201px) and (min-width: 768px) {
  .productTitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .productBlock {
    margin-bottom: 0.5rem;
    overflow: scroll;
  }
  .productBlockWrapper:last-of-type .productBlock {
    flex-wrap: wrap;
  }
  .product {
    margin: 0 0.5rem 0.5rem 0;
  }
  .navLogo {
    display: block;
  }
  .navbar {
    border-radius: 0;
    margin: 0;
    height: 4rem;
    padding: 0.5rem 1rem;
  }
  .navBtn {
    padding: 0.25rem;
  }
  .navBtn span {
    display: none;
  }
  .header {
    background-color: #060f42;
    margin-bottom: 0;
  }
  .logo {
    display: none;
  }
  .inputWrapper {
    margin: 0;
  }
  .searchBtn {
    position: static;
    background-color: transparent !important;
  }
  .searchBtn svg {
    height: 2rem;
    width: 2rem;
  }
  .headBtnWrapper {
    padding-right: 1rem;
    justify-content: flex-end;
  }
  .btnWrapper {
    display: none;
  }
  .btnWrapper:last-child {
    display: block;
  }
  .headBtn svg {
    stroke: #fff !important;
  }
  .menuWrapper {
    height: 25rem;
    margin-bottom: 0.5rem;
  }
  .bannerTitle {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
    line-height: normal;
  }
  .bannerDiscription {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
  .links {
    justify-content: space-between;
  }
  .secondLink {
    display: block !important;
  }
  .bgImg {
    background-size: 550%;
  }
  .gameZoneContainer {
    height: 100%;
  }
  .gameZoneLine {
    flex: 6 0 auto;
  }
  .gameZoneContainer .productBlock {
    height: 20rem;
    overflow: scroll;
  }
  .gameZoneContainer .links {
    margin-bottom: 1rem;
  }
  .gameProduct {
    margin-bottom: 1rem;
  }
  .categoryForGamer {
    overflow: scroll;
    justify-content: flex-start;
  }
  .headCategoryText {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .categoryItem {
    height: 12rem;
    width: 10rem;
    padding: 0.5rem 0;
    margin-right: 1rem;
  }
  .itemBg {
    width: 160px;
  }
  .itemImg {
    left: 1%;
  }
  .itemTitle {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .productTitle {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .productBlock {
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    justify-content: space-around;
  }
  .productBlockWrapper:first-of-type .productBlock {
    height: 20rem;
    overflow: hidden;
  }
  .product {
    margin: 0 0 0.5rem 0;
  }
  .navLogo {
    display: block;
  }
  .navbar {
    border-radius: 0;
    margin: 0;
    height: 4rem;
    padding: 0.5rem 1rem;
  }
  .navBtn {
    padding: 0.25rem;
  }
  .navBtn span {
    display: none;
  }
  .header {
    background-color: #060f42;
    margin-bottom: 0;
  }
  .logo {
    display: none;
  }
  .inputWrapper {
    margin: 0;
  }
  .searchInput {
    display: none;
  }
  .searchBtn {
    position: static;
    background-color: transparent !important;
  }
  .searchBtn svg {
    height: 2rem;
    width: 2rem;
  }
  .headBtnWrapper {
    justify-content: center;
  }
  .btnWrapper {
    display: none;
  }
  .btnWrapper:last-child {
    display: block;
  }
  .headBtn svg {
    stroke: #fff !important;
  }
  .menuWrapper {
    height: 100%;
    margin-bottom: 0.5rem;
  }
  .banner {
    background-size: 100%;
  }
  .bannerText {
    align-items: flex-end;
  }
  .bannerTitle {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    line-height: normal;
  }
  .bannerDiscription {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
  .links {
    justify-content: space-between;
  }
  .secondLink {
    display: block !important;
  }
  .bgImg {
    background-size: 550%;
  }
  .gameZoneContainer {
    height: 100%;
  }
  .gameZoneContainer .productBlock {
    height: 20rem;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .gameZoneContainer .links {
    margin-bottom: 1rem;
  }
  .gameProduct {
    margin-bottom: 1rem;
  }
  .categoryForGamer {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
  }
  .headCategoryText {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .categoryItem {
    height: 12rem;
    width: 10rem;
    padding: 0.5rem 0;
  }
  .itemBg {
    width: 160px;
  }
  .itemImg {
    left: 1%;
  }
  .itemTitle {
    font-size: 0.75rem;
  }
}
